@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&display=swap');

body {
  background-color:slategrey;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Arial;
 }

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

.app {
  width: 80%; 
  margin-top: 10px;
}

.app__todoform{
  margin-top: 20px;
  display: flex;
  position: relative;
}

.app__input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid white;
  color: white; 
  font-size: 18px;
  font-family: 'Montserrat', Arial;
  padding: 10px 10px;
  width: 100%;
  word-wrap: break-word;
  word-break: break-all;
  flex-grow: 1;
  max-width: 100%;
}

.app__input::placeholder{
  color: white; 
  font-size: 18px;
  font-family: 'Montserrat', Arial;
}

.app__button {
  font-family: 'Montserrat', Arial;
  cursor: pointer;
  border: 10px;
  font-size: 50px;
  font-weight: 200;
  background: transparent;
  color: white;
  position: absolute;
  right: 0;
  top: -10px;
}

.app__list {
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
  position: relative;
  width:100%;
}

.app__checkboxinput{
  display: flex;
}

.app__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 0;
  border-bottom: 1px solid white;
  font-size: 18px;
  padding: 10px;
  background-color: white;
  margin: 10px 0;
  border-radius: 5px;
}

.app__icon{
  min-width: 25px;
  max-width: 25px;
  height: auto;
}


.app__iteminput {
  background: transparent;
  color: black;
  border: 0px;
  font-weight: 400;
  font-family: 'Montserrat', Arial;
  margin-left: 10px;
  word-wrap: break-word;
  word-break: break-all;
  flex-grow: 1;
  max-width: 100%;
  min-width: 200px;
}

.app__iteminput:focus {
  outline: none;
}

.app__icon--trashcan {
  margin-left: 10px;
}

.app__iteminput--strikethrough {
  text-decoration: line-through;
}

@media only screen and (min-width: 768px) {
  .app__input {
    font-size: 25px;
  }

  .app__input::placeholder {
    font-size: 25px;
  }
  
  .app__button {
    top: -20px;
    font-size: 70px; 
  }
  
  .app__item {
    font-size: 25px;
    padding: 15px;
    background-color: white;
    margin: 10px 0;
    border-radius: 5px;    
  }

  .app__checkbox {
    min-width: 30px;
    max-width: 30px;
    margin-right: 10px;
  }

  .app__iteminput {
    min-width: 450px;
  }

  .app__trashcan {
    min-width: 30px;
    max-width: 30px;
    margin-left: 15px;
  }  
}

@media only screen and (min-width: 768px) {
  .app__input {
    font-size: 25px;
  }

  .app__input::placeholder {
    font-size: 25px;
  }
  
  .app__button {
    top: -20px;
    font-size: 70px; 
  }
  
  .app__item {
    font-size: 25px;
    padding: 15px;
    background-color: white;
    margin: 10px 0;
    border-radius: 5px;    
  }

  .app__icon{
    min-width: 30px;
    max-width: 30px;
  }

  .app__icon--checkbox{
    margin-right: 10px;
  }

  .app__iteminput {
    min-width: 450px;
  }

  .app__icon--trashcan {
    margin-left: 15px;
  }
}

@media only screen and (min-width: 1025px) {
  .app {
    max-width: 1000px;
    margin-top: 40px;
  }
  .app__input {
    font-size: 25px;
  }

  .app__input::placeholder {
    font-size: 25px;
  }
  
  .app__button {
    top: -20px;
    font-size: 70px; 
  }
  
  .app__item {
    font-size: 25px;
    padding: 15px;
    background-color: white;
    margin: 10px 0;
    border-radius: 5px;    
  }

  .app__icon{
    min-width: 30px;
    max-width: 30px;
  }

  .app__icon--checkbox{
    margin-right: 10px;
  }

  .app__iteminput {
    min-width: 450px;
  }

  .app__icon--trashcan {
    margin-left: 15px;
  }
}