.list {
    color: #fff;
    width: 300px;
    background-color: pink;
    height: 50px;
    margin: 20px auto;
    border-radius: 5px;
}

.itemText {
    padding: 10px;
    position: relative;
    margin: 5px;
}

.trashCan {
    width: 20px;
    cursor: pointer;
    margin: 5px;
}

.checkBox {
    width: 20px;
    cursor: pointer;
    margin: 5px;
}

.textInput {
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 18px;
}

.textInput:focus{
    outline: none;
}